<p id="notice"><%= notice %></p>

<h1>Wants</h1>

<table>
  <thead>
    <tr>
      <th>User id</th>
      <th>Title</th>
      <th>Category id</th>
      <th>Comment</th>
      <th>Wefl</th>
      <th>Meridian</th>
      <th>Good</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wants.each do |want| %>
      <tr>
        <td><%= want.USER_ID %></td>
        <td><%= want.TITLE %></td>
        <td><%= want.CATEGORY_ID %></td>
        <td><%= want.COMMENT %></td>
        <td><%= want.WEFL %></td>
        <td><%= want.MERIDIAN %></td>
        <td><%= want.GOOD %></td>
        <td><%= link_to 'Show', want %></td>
        <td><%= link_to 'Edit', edit_want_path(want) %></td>
        <td><%= link_to 'Destroy', want, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Want', new_want_path %>
