<p id="notice"><%= notice %></p>

<p>
  <strong>User id:</strong>
  <%= @want.USER_ID %>
</p>

<p>
  <strong>Title:</strong>
  <%= @want.TITLE %>
</p>

<p>
  <strong>Category id:</strong>
  <%= @want.CATEGORY_ID %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @want.COMMENT %>
</p>

<p>
  <strong>Wefl:</strong>
  <%= @want.WEFL %>
</p>

<p>
  <strong>Meridian:</strong>
  <%= @want.MERIDIAN %>
</p>

<p>
  <strong>Good:</strong>
  <%= @want.GOOD %>
</p>

<%= link_to 'Edit', edit_want_path(@want) %> |
<%= link_to 'Back', wants_index_path %>
