<%= form_for(count_want) do |f| %>
  <% if count_want.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(count_want.errors.count, "error") %> prohibited this count_want from being saved:</h2>

      <ul>
      <% count_want.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IDEA %>
    <%= f.number_field :IDEA %>
  </div>

  <div class="field">
    <%= f.label :CATEGORY_ID %>
    <%= f.number_field :CATEGORY_ID %>
  </div>

  <div class="field">
    <%= f.label :TITLE %>
    <%= f.text_field :TITLE %>
  </div>

  <div class="field">
    <%= f.label :COUNT %>
    <%= f.number_field :COUNT %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
