<p id="notice"><%= notice %></p>

<p>
  <strong>Idea:</strong>
  <%= @count_want.IDEA %>
</p>

<p>
  <strong>Category id:</strong>
  <%= @count_want.CATEGORY_ID %>
</p>

<p>
  <strong>Title:</strong>
  <%= @count_want.TITLE %>
</p>

<p>
  <strong>Count:</strong>
  <%= @count_want.COUNT %>
</p>

<%= link_to 'Edit', edit_count_want_path(@count_want) %> |
<%= link_to 'Back', count_wants_path %>
