<%= form_for(list_good) do |f| %>
  <% if list_good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list_good.errors.count, "error") %> prohibited this list_good from being saved:</h2>

      <ul>
      <% list_good.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :WANT_ID %>
    <%= f.number_field :WANT_ID %>
  </div>

  <div class="field">
    <%= f.label :USER_ID %>
    <%= f.number_field :USER_ID %>
  </div>

  <div class="field">
    <%= f.label :NAME %>
    <%= f.text_field :NAME %>
  </div>

  <div class="field">
    <%= f.label :COUNT %>
    <%= f.number_field :COUNT %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
