<p id="notice"><%= notice %></p>

<h1>List Goods</h1>

<table>
  <thead>
    <tr>
      <th>Want id</th>
      <th>User id</th>
      <th>Name</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_goods.each do |list_good| %>
      <tr>
        <td><%= list_good.WANT_ID %></td>
        <td><%= list_good.USER_ID %></td>
        <td><%= list_good.NAME %></td>
        <td><%= list_good.COUNT %></td>
        <td><%= link_to 'Show', list_good %></td>
        <td><%= link_to 'Edit', edit_list_good_path(list_good) %></td>
        <td><%= link_to 'Destroy', list_good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List Good', new_list_good_path %>
